TODOlist.txt
node_modules/
coverage/
playwright-report/
test-results/
exercisesToAdd.txt
data/batches
data/batcher.js
data/converter.js
data/new-exercises.json
data/converted-draft.json
addRegProg.txt